{% extends 'base.html.twig' %}

{% block title %}
	TEST
{% endblock %}

{% block body %}
	<h1> {{ hello }} </h1>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style type="text/css" rel="stylesheet">
	body{
		padding-top: 50px;
	}
</style>
{% endblock %}
