{% extends 'base.html.twig' %}

{% block title %}
	Registration Complete !
{% endblock %}

{% block body %}
<div class="jumbotron" style="text-align:center;">
	<p>Inscription réussie !</p>
</div>
{% endblock %}